/* Calendar CSS */
$off_white:#fafafa;
$light_grey:#A39D9E;
*{
  box-sizing:border-box;
}

body{
  background-color: $off_white;
}


.sticky {
  position: -webkit-sticky;
  position:  fixed;
  top: 50%;
  left: 50%;
}


.hrr {
margin-top: 0.2rem;
margin-bottom: 0.2rem;
border: 0;
border-top-color: currentcolor;
border-top-style: none;
border-top-width: 0px;
border-top: 1px solid rgba(255,255,255);
}

.hrr {
-webkit-box-sizing: content-box;
box-sizing: content-box;
height: 0;
overflow: visible;
}

.container{
  margin:100px auto;
  width:809px;
}

.hrForum {

}

.light{
  background-color: #fff;
}
.dark{
  margin-left: 65px;
}

.calendar{
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  color:#363b41;
  display: inline-block;
}

.calendar_header{
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy{
  color:$light_grey;
  font-size:20px;
  text-align: center;
}
.calendar_plan{
  margin:20px 0 40px;
}
.cl_plan{
  width:100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #26bc2c, #aeffa9);;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.30);
  padding:15px;
  color:#fff;
}

.cl_planS{
  width:100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #2e8cc2, #bee5fb);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.30);
  padding:15px;
  color:#fff;
}

.cl_planP{
  width:100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #790fb1f2, #ebbefb);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.30);
  padding:15px;
  color:#fff;
}


.cl_title{
  text-align: center;
}
.cl_copy{
  font-size:20px;
  margin: 15px 0;
 /* display: inline-block;*/
  text-align: center;
}

.cl_add{
  display: inline-block;
  width: 40px;
  height:40px;
  border-radius:50%;
  background-color: #fff;
  cursor: pointer;
  margin:0 0 0 65px;
  color:#c2c2c2;
  padding: 11px 13px;
}
.calendar_events{
  color:$light_grey;
}
.ce_title{
  font-size:16px;
  text-align: center;
}

.event_item{
  margin: 18px 0;
  padding:5px;
  cursor: pointer;
  &:hover{
    background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    .ei_Dot{
      background-color: #fff;
    }
    .ei_Copy,.ei_Title{
      color:#fff;
    }
  }
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: $light_grey;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.Tdot_active{
  background-color: #26bc2c;
}

.Sdot_active{
  background-color: #26bc2c;
}

.dot_active{
  background-color: red;
}

.ei_Title{
  margin-left:10px;
  color:#363b41;
}

.ei_Copy{
  font-size:12px;
  margin-left:27px;
}

.dark{
  background-image: linear-gradient(-222deg, #646464, #454545);
  color:#fff;
  .header_title,.ei_Title,.ce_title{
    color:#fff;
  }
  
}
/* END CALENDAR CSS/ */


/* CARDS CAROUSEL CSS */

@media screen and (min-width: 768px) {
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* Desktop and up */

@media screen and (min-width: 992px) {
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/*END CARDS CAROUSEL CSS */

/* Style the active class (and buttons on mouse-over) */
.activve, .sidebar-nav-group:hover {
  background-color: #00020933 !important;
  color: white;
}

.activvve, .sidebar-nav-group:hover {
  background-color: #ffffff59 !important;
  color: white;
}


.sidebar-ulk:hover {
  background-color: #00020933 !important;
  color: white;
}

.app .app-body .app-sidebar .sidebar-nav > .sidebar-nav-link.collapsed, .app .app-body .app-sidebar .sidebar-nav > li > .sidebar-nav-link.collapsed, .app .app-body .app-sidebar .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link.collapsed {
    background-color: #fafcfe00;
}

.btn-circle {
    width: 25px;
    height: 25px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-purple {
    color: #fff;
    background-color: #790fb1f2;
    border-color: #2e8cc2;
}

.btn-purple:hover {
    color: #fff;
    background-color: #570a80;
    border-color: #246e99;
}

.btn-vert {
    color: #fff;
    background-color: #26bc2c;
    border-color: #048f0a;
}

.text-green{
    color: #26bc2c;
}

.text-purple{
    color: #790fb1f2;
}

.text-bordo{
    color: #c22e6d;
}

.btn-vert:hover {
    color: #fff;
    background-color: #048f0a;
    border-color: #26bc2c;
}

.btn-vide {
    color: black;
    background-color: #fff;
    border-color: #048f0a;
}

.btn-vide:hover {
    color: #fff;
    background-color: #048f0a;
    border-color: #26bc2c;
}


.btn-bordo {
    color: #fff;
    background-color: #c22e6d;
    border-color: #9f114d;
}

.btn-bordo:hover {
    color: #fff;
    background-color: #9f114d;
    border-color: #c22e6d;
}

.callout.callout-success {
    border-left-color: 
    #048f0a;
}

.callout.callout-forum {
    border-left-color: 
    #a4e9f5;
}

.callout.callout-test {
    border-left-color: 
    #f2a4d7;
}



/* Colors for teamator logins */

.nav-pills .nav-link1.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #26bc2c;
}
.nav-pills .nav-link1 {
    border-radius: .25rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.nav-link1 {
    display: block;
    padding: .5rem 1rem;
}

.nav-pills .nav-link2.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #c22e6d;
}
.nav-pills .nav-link2 {
    border-radius: .25rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.nav-link2 {
    display: block;
    padding: .5rem 1rem;
}

.nav-pills .nav-link3.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #790fb1f2;
}
.nav-pills .nav-link3 {
    border-radius: .25rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.nav-link3 {
    display: block;
    padding: .5rem 1rem;
}

.callout.callout-teacher {
    border-left-color: #26bc2c;
}

.callout.callout-tutor {
    border-left-color: #790fb1f2 ;
}

.callout.callout-student {
    border-left-color: #2e8cc2;
}

